<ion-header class="header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title class="centered-title">
      <h1>Carpintería</h1>
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon
        slot="icon-only"
        name="cart-outline"
        (click)="carrito()">
      </ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="search-bar">
    <input type="text" placeholder="Buscar herramientas de carpintería..." />
  </div>

  <div class="categories">
    <div class="category" *ngFor="let herramienta of herramientas">
      <img [src]="herramienta.imagen" [alt]="herramienta.nombre" />
      <p>{{ herramienta.nombre }}</p>
    </div>
  </div>
</ion-content>
