<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      ToolsRental
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="login-container ion-text-center">
    <ion-icon name="person-circle-outline" class="icon"></ion-icon>
    <h2>Inicio sesión</h2>

    <ion-item>
      <ion-icon slot="start" name="mail-outline"></ion-icon>
      <ion-input placeholder="Correo electrónico"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
      <ion-input placeholder="Contraseña" type="password"></ion-input>
      <ion-icon slot="end" name="eye-outline"></ion-icon>
    </ion-item>

    <div class="button-group">
      <ion-button expand="block" class="login-button">Iniciar sesión</ion-button>
      <ion-button expand="block" fill="outline" class="register-button">Registrarse</ion-button>
    </div>
  </div>
</ion-content>
