<ion-header class="ion-no-border">
  <ion-toolbar class="bg-white">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <h1>ToolsRental</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="login-container">
    <h2 class="section-title">Clientes registrados</h2>
    <p class="description">
      Si tiene una cuenta, inicie sesión con su dirección de correo electrónico.
    </p>
    <ion-item>
      <ion-label position="floating">Correo electrónico</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <ion-checkbox slot="start"></ion-checkbox>
      <ion-label>Mostrar Contraseña.</ion-label>
    </ion-item>
    <ion-button class="btn-red" expand="block" (click)="login()">INICIAR SESIÓN</ion-button>
    <p class="text-center">
      <a class="link" href="#">¿Olvidó su contraseña?</a>
    </p>
    <p class="required-info">* Campos obligatorios</p>

    <h2 class="section-title">Nuevos clientes</h2>
    <p class="description">
      Crear una cuenta tiene muchos beneficios: Pago más rápido, guardar más de una dirección, seguimiento de pedidos y mucho más.
    </p>
    <ion-button class="btn-red" expand="block" (click)="registro()">CREAR UNA CUENTA</ion-button>
  </div>
</ion-content>