<ion-header class="header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/admhome"></ion-back-button>
    </ion-buttons>
    <ion-title class="centered-title">
      <h1>Gestión de Productos</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Barra de búsqueda -->
  <div class="search-bar">
    <input type="text" placeholder="Buscar producto..." (input)="filtrarProductos($event)" />
  </div>

  <!-- Tabs de categorías -->
  <div class="tabs">
    <button
      *ngFor="let categoria of categorias"
      (click)="cambiarCategoria(categoria.nombre)"
      [class.active]="categoria.nombre === categoriaActual">
      {{ categoria.nombre }}
    </button>
  </div>

  <!-- Botón para añadir producto que redirige a add-producto -->
  <div class="add-button">
    <button routerLink="/add-producto">
      Añadir Producto
    </button>
  </div>

  <!-- Lista de herramientas -->
  <div class="categories">
    <div class="category" *ngFor="let herramienta of herramientasFiltradas">
      <img [src]="herramienta.imagen" [alt]="herramienta.nombre" />
      <h3>{{ herramienta.nombre }}</h3>
      <p>{{ herramienta.descripcion }}</p>
      <p class="precio">Precio: ${{ herramienta.precio }}</p>
      <p class="estado">{{ herramienta.disponibilidad }}</p>
      <button (click)="modificarProducto(herramienta)">Modificar</button>
      <button (click)="eliminarProducto(herramienta.id)">Eliminar</button>
    </div>
  </div>
</ion-content>
