<ion-header class="header">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <h1>ToolsRental</h1>
    </ion-title>
    <ion-buttons slot="end">
      <ion-icon slot="icon-only" name="location-outline"></ion-icon>
      <ion-icon slot="icon-only" name="person-outline" (click)="toggleMenu()" class="clickable"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <!-- Menú de usuario -->
  <div class="user-menu" *ngIf="menuOpen">
    <ul>
      <li (click)="logout()">Cerrar sesión</li>
    </ul>
  </div>
</ion-header>

<ion-content>
  <div class="search-bar">
    <input type="text" placeholder="¿Qué estás buscando?..." />
  </div>

  <div class="categories">
    <div 
      class="category" 
      *ngFor="let opcion of opciones" 
      (click)="navigateTo(opcion.ruta)"
    >
      <img [src]="opcion.imagen" [alt]="opcion.nombre" />
      <p>{{ opcion.nombre }}</p>
    </div>
  </div>
</ion-content>
