<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">
      ToolsRental
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <ion-text class="ion-text-center texto-rojo">
    <h1>Bienvenidos a ToolsRental</h1>
  </ion-text>
</ion-content>

<ion-content class="ion-padding ion-text-center">
  <div class="welcome-container">
    <ion-button expand="block" routerLink="/login" class="button">
      Iniciar sesión
    </ion-button>

    <ion-button expand="block" routerLink="/registrar" class="button">
      Registrarse
    </ion-button>

    <ion-button expand="block" routerLink="/admin" class="button">
      Administrador
    </ion-button>
  </div>
</ion-content>

